---
import Nav from '../components/nav/Nav.astro';
import '../styles/colors.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Nav></Nav>
		<h1>Astro</h1>
	</body>
</html>


<style>
	body{
		background-color: var(--bg-c-light-theme);
	}

</style>