---
import Socials from './Socials.astro';
import ToggleButtonTheme from './ToogleButtonTheme.astro'
---
<div class="right-nav">
    <a>
        <ToggleButtonTheme></ToggleButtonTheme>
    </a>
    <a>
        <!-- Socials Section -->
        <Socials></Socials>
    </a>
</div>


<style>
    .right-nav {
        display: flex;
        gap: 0.75em;
        margin-left: auto;
        padding-right: 2.0em;
    }
</style>