---
import {socials} from './socials_data';
import '../../styles/colors.css';
---

<div class="socials">
    {socials.map(social => 
    <a
        class="social"
        href={social.url}
        target="_blank"
    >
        <svg
            class="socialIcon"
            xmlns="http://www.w3.org/2000/svg"
            viewBox={social.view_box}
            
        >
            <path
                d={social.icon}
            ></path>
        </svg>
    </a>
    )
    }
</div>

<style>
    .socials {
        display: flex;
        gap: 0.75em;
        margin-left: auto;
        padding-right: 2.0em;
    }

    .social {
        display: block;
    }

    .socialIcon {
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        fill: var(--t-subdue);
        transition: fill linear 150ms;
    }

    .socialIcon:hover {
        fill: var(--t-active);
    }
</style>