---
import '../../styles/colors.css';
const {
	tab_item
} = Astro.props;
---

<a class="nav-link" href={tab_item.href}> {tab_item.label}</a>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.nav-link {
        color: var(--t-subdue);
        display: block;
        text-decoration: none;
		font-family: 'Roboto', sans-serif;
        font-size: 1.3em;
		font-weight: bold;
        text-transform: uppercase;
        padding-top: 0.75em;
        padding-bottom: 0.75em;
		padding-left: 1.0em;
		padding-right: 1.0em;
    }

    .nav-link:hover,
    .nav-link:focus {
        color: var(--t-active);
    }
</style>