---
import "../../styles/colors.css";
---

<div id="container">
  <!--svg class="toggle" ></svg>-->
  <div id="toggle" class="toggle">
    <img id="icon-toggle" class="icon-toggle" src="../../../public/assets/sun-icon.svg" width="30" height="30"/>
  </div>
</div>
<script>
  {
    var container = document.getElementById("container");
    var icon_toggle = document.getElementById("icon-toggle");

    var body = document.querySelector("body");
    var nav = document.getElementById("navbar");
    var func = function () {
      container.classList.toggle("active");
      var active_flag = container.classList.contains("active");
      body.classList.toggle("active");
      nav.classList.toggle("active");

      if (active_flag == true){
        icon_toggle.setAttribute('src', '../../../public/assets/moon-icon.svg');
      }else{
        icon_toggle.setAttribute('src', '../../../public/assets/sun-icon.svg');
      }
    };

    container.onclick = func;
  }
</script>

<style>
  #container {
    background-color: var(--bg-c-light-theme);
    position: relative;
    width: 80px;
    height: 40px;
    box-shadow: inset 4px 4px 6px #a19d9d, inset -4px -4px 6px #fff;
    margin: 0px auto;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    gap: 0.75em;
    margin-left: auto;
  }

  .icon-toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    transform: scale(0.7);
    background-color: var(--bg-c-light-theme);
    border-radius: 25px;
    box-shadow: 3px 3px 8px #c4c4c4, -3px -3px 8px #fff;
  }

  #container.active .icon-toggle {
    left: 40px;
    background-color: var(--bg-c-dark-theme);
  }

  body.active {
    background-color: var(--bg-c-dark-theme);
  }

  #navbar.active {
    background-color: var(--bg-c-dark-theme);
  }
</style>
